############################
# Ignore folders
############################
./claude
./Experiment/*
./External_Data/*
#./notebooks
./Old_code
./PhosX
#./scripts
./Server_results
#./src

############################
# Ignore files
############################

.gitignore
.claudeignore
CLAUDE.md
claude_history.txt
environment_202602.yml
Global_report.md
top_kinase_histogram.png