./Experiment/1_hTERT_HME1/*

./Experiment/1_HEK293T/*

./Experiment/2_hTERT_HME1/*

./Experiment/3_hTERT_HME1_mutants_comparison/*

./Experiment/General_result/*

./Experiment/Kinase_list.xlsx

./External_Data

./Old_code

./will_delete

./Server_results