############################
# Ignore folders
############################
./claude
./Claude_promts
./Experiment/*
./External_Data/*
./notebooks/*/Results/*
./PhosX
#./scripts
Server/Server_results
#./src
./Old

############################
# Ignore files
############################

claudeignore
CLAUDE.md
Claude_promts/claude_history.txt
environment_202602.yml
Experiment/General_result/Global_report.md
Old/top_kinase_histogram.png